# Managed by Ansible
local   all   postgres                           peer
local   all   all                                peer
host    all   all   127.0.0.1/32                 scram-sha-256
host    all   all   ::1/128                      scram-sha-256
{% for client in postgresql_allowed_clients %}
host    {{ postgresql_database }}   {{ postgresql_app_user }}   {{ client }}   scram-sha-256
{% endfor %}
