# Managed by Ansible
data_directory = '{{ postgresql_data_dir }}'
hba_file = '{{ postgresql_data_dir }}/pg_hba.conf'
ident_file = '{{ postgresql_data_dir }}/pg_ident.conf'
listen_addresses = '{{ postgresql_listen_addresses | join(",") }}'
port = {{ postgresql_port }}
max_connections = {{ postgresql_max_connections }}
shared_buffers = {{ postgresql_shared_buffers }}
effective_cache_size = {{ postgresql_effective_cache_size }}
work_mem = {{ postgresql_work_mem }}
maintenance_work_mem = {{ postgresql_maintenance_work_mem }}
dynamic_shared_memory_type = posix
wal_level = replica
max_wal_size = 2GB
min_wal_size = 256MB
checkpoint_completion_target = 0.9
password_encryption = 'scram-sha-256'
logging_collector = on
log_directory = 'log'
log_filename = 'postgresql-%Y-%m-%d.log'
log_rotation_age = 1d
log_truncate_on_rotation = on
log_connections = on
log_disconnections = on
log_lock_waits = on
deadlock_timeout = 1s
log_min_duration_statement = {{ postgresql_log_min_duration_statement }}
timezone = '{{ postgresql_timezone }}'
log_timezone = '{{ postgresql_timezone }}'
